<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1 class="hero">Welcome to Projectify!</h1>

    <h2 class="h2home">
      The place where the Spring 2015 Cohort can collaborate on projects!
    </h2>

    
  </div>
