<div class = 'container'>
	<h2>Projects</h2>
<!-- 	<button type="button" class="btn" data-toggle="modal" data-target="#projectModal">
		Create new project
	</button> -->
  <%= link_to "Create new project", new_project_path, remote: true, class: "btn btn-default" %>
	<table class = 'table'>
		<thead>
	    <tr>
	    	<th>Name</th>
	    	<th>Description</th>
	      <th>Due Date(Mountain Time)</th>
	      <th>Creator</th>
	      <th>Time left</th>
	      <th>Priority</th>
	      <th></th>
	    </tr>
	  </thead>
    <tbody id="projectList">
      <% @projects.each do |project| %>
        <%= render partial: 'project_row', locals: { project: project } %>
      <% end %>
    </tbody>
	</table>
</div>

<!-- New Project Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
      </div>
      <div class="modal-body" id= "ProjectModalBody">
        
      </div>
    </div>
  </div>
</div>
