/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background: linear-gradient(#9B51E6, white); /* Standard syntax */
  background-repeat: no-repeat;
}

.hero {
  // color: black;
  font-family: 'Mr Dafoe', cursive;
  font-size: 70px;
  text-align: center;
}

.jumbotron {
  background-color: #101010;
  h1 {
    color: #fff
  }
}

.h2home {
  text-align: center;
  color: #b2b2b2;
}

h1 {
  font-family: 'Mr Dafoe', cursive;
}

.homebtn {
  text-align: center;
}
.panel {
  margin: 10px;
  min-height: 250px;
}

.logo {
  padding-top: 7px;
  padding-right: 5px;
  float: left;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  // border-top: 2px solid #eaeaea;
  // color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}